.jogadores{
    position: relative;
    text-align: center;
    padding: 32px;
    background-position-y: 800px;
    background-size: 100%;
}

.jogadores h3{
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.jogadores .cardJogador{
    display: flex;
    justify-content: space-around;
    margin: 32px;
    flex-wrap: wrap;
}

.input-cor{
    position: absolute;
    top: 20px;
    right: 50px;
}

@media screen and (max-width: 430px) {
    .jogadores{
        padding: 8px;
    }
}